rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contact_lists/{list} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /texas_representatives/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /contact_list_settings/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /zip_representatives/{zipCode} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /zip_representatives_metadata/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
